
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --white: #fff;
    --background: #edede9;
    --tan: #e3d5ca;
    --dark-tan: #d6ccc2;
    --light-tan: #f5ebe0;
}

body {
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark-tan);
    margin: 0;
    padding: 0%;
    line-height: 1.5;
}

.header {
    text-align: left;
    background-color: var(--dark-tan);
    color: var(--light-tan);
    padding: 30px;
    
}

.header h1 {
    font-size: 50px;
    display: inline-flex;
    color: var(--dark-tan);
    background-color: var(--light-tan);
    padding: 10px 1% 10px 15px;

}


.header nav {
    float: right;
    padding-top: 20px;
    margin-right: 55px;
    font-family: serif;
    font-size: 30px;
    background-color: var(--dark-tan);
    color: var(--light-tan);
    
}

.header nav ul {
   list-style: none;
   margin-left: 30px;
}

.header nav a {
  color: var(--light-tan);
  text-decoration: none;
  background-image: linear-gradient(270deg, var(--light-tan) 0%, var(--light-tan) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25 ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark-tan);
    
  }

.header nav a {
    display: inline-block;
    margin-left: 30px;
}

.nav a:last-child {
margin-right: 0;
}

.content{
    max-width:80%;
    margin-right: auto;
    margin-left: auto;
}

.main {
    margin-top: 20px;
    margin-bottom: 45px;
    display: block;
}

.page {
    margin: 20px;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 80px;
}

.float-left {
float:left;
margin-right: 100px;
    
} 

.page {
    display: block;
    font-size: 50px;
    
}

.work {
    margin: 800px;
    padding: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
}


.my-work {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    font-size: 80px;
}

.work div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 300%;
    margin: 50%;
}

.row{
display: inline;
}


.box1 {
    width:700px;
    height:700px;
    padding:20px;
    margin:40px 90px 70px -100px;
    background-image: url(assets/images/project1.png);
    box-shadow: 0px 0px 10px 2px grey;
    border:10px var(--dark-tan);


}
 
.box1 image {
    width: 50%;
    height: 50%;
    top: auto;
    left: auto;
    position: center;
    background: var(--light-tan);
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    opacity: 1; 
    transition: 0.6s;
}

.work:hover{
    opacity: 4;
}

.h4 {
    font-size: 80px;
    
    color: white;
}

.box2 {
    width:700px;
    height:300px;
    padding:20px;
    margin:10px 90px 70px -100px;
    background-image:url(assets/images/project2.jpeg);
    background-position: center;
    box-shadow: 10px 0px 10px 2px grey;
    border:10px var(--dark-tan);


}

.box3 {
    width:700px;
    height:300px;
    padding:20px;
    margin:10px 90px 70px -100px;
    background-image: url(assets/images/project3.jpeg);
    background: size 200%;
    box-shadow: 0px 0px 10px 2px grey;
    border:10px var(--dark-tan);
    align-items: center;
}

.box4 {
    width:700px;
    height:300px;
    padding:20px;
    margin:10px 90px 70px -100px;
    background-image: url(assets/images/project1.png);
    background: size 200%;
    box-shadow: 0px 0px 10px 2px grey;
    border:10px var(--dark-tan);
    


}

.pagecontact {
    margin: 25px;
    padding: 10px;  
    display: flex;
    flex-wrap: wrap;
    
}
.contact-me {
    display: flex;
    flex-direction:column-reverse;
    text-align: center;
    width: 1500px;
    height: 1300px;
    font-size: 80px;
}

.contact-me nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.pagecontact nav a {
    color: var(--tertiary);
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    background-image: linear-gradient(270deg, var(--dark-tan) 0%, var(--dark-tan) 100%);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 50px 50px 50px 120px ;
    display: inline-block;
      
}

.row h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}