
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --white: #fff;
    --background: #eeeef7;
    --blue: #445877;
    --dark-blue: #31343d;
    --light-blue: #92ccce;
}

body {
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--blue);
    margin: 0;
    padding: 0%;
}

.header {
    text-align: left;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 20px;
    
}

.header h1 {
    font-size: 50px;
    display: inline-flex;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    padding: 10px 1% 10px 15px;

}


.header nav {
    float: right;
    padding-top: px;
    margin-right: 55px;
    font-family: serif;
    font-size: 30px;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    
}

.header nav ul {
   list-style: none;
   margin-left: 30px;
}

.header nav a {
  color: var(--light-blue);
  background-image: linear-gradient(270deg, var(--light-blue) 0%, var(--light-blue) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25 ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark-blue);
    
  }

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

main{
    margin-top: 20px;   
    margin-bottom: 45px;
}

.bannerimage {
    width: 100%;
    background-image: url("./assets/images/Wallpaper.jpeg"), ; 
    height: 220px;
    background-color: var(--blue);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}


.content{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.content h2{
    flex: 0 0 20%;
    text-align: left;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 50px;
    line-height: 1.1;
}

.content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



h2 {
    display: block;
    margin-block-start: .83em;
    margin-block-end: .83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
