
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --white: #fff;
    --background: #edede9;
    --tan: #e3d5ca;
    --dark-tan: #d6ccc2;
    --light-tan: #f5ebe0;
}

body {
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark-tan);
    margin: 0;
    padding: 0%;
}

.header {
    text-align: left;
    background-color: var(--dark-tan);
    color: var(--light-tan);
    padding: 30px;
    
}

.header h1 {
    font-size: 50px;
    display: inline-flex;
    color: var(--dark-tan);
    background-color: var(--light-tan);
    padding: 10px 1% 10px 15px;

}


.header nav {
    float: right;
    padding-top: px;
    margin-right: 55px;
    font-family: serif;
    font-size: 30px;
    background-color: var(--dark-tan);
    color: var(--light-tan);
    
}

.header nav ul {
   list-style: none;
   margin-left: 30px;
}

.header nav a {
  color: var(--light-tan);
  background-image: linear-gradient(270deg, var(--light-tan) 0%, var(--light-tan) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25 ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark-tan);
    
  }

.header nav a {
    display: inline-block;
    margin-left: 30px;
}


.content{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.page {
    margin: 20px;
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 80px;
}

img {
    height: 200px; ;
    width: 130;
    float: right;
    margin: 8px 0 0 20 px;
    padding: 4px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.float-left {
float:left;
margin-right: 25px;
    
} 


.page {
    display: block;
    font-size: 40px;
    
}

.work {
    margin: 50px;
    padding: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.my-work {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 80px;
}














